@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

.body
{

}

.body--gradient-blue
{
	background-image:
	linear-gradient(
	to bottom,
	#AFCCE9,
	#016AB8,
	);
}

.body--px-0
{
	padding-left: 0;
	padding-right: 0
}

.body--vh-100
{
	height: 100vh;
}

.body__inner
{

}

.inner__header-misc
{

}

.inner__header-misc--flex
{
	display:flex;
	flex-direction: row;
}

.strip
{

}

.strip--flex
{
}
